body {
    font-size: large;
}
form {
    background-color: gray;
    margin: auto;
    padding: 25px;
    text-align: center;
    width: 35%;
    border-radius: 50px;
}
label {
    padding: 30px;
}
table {
    background-color: gray;
    margin: auto;
    padding: 25px;
    text-align: center;
    border-radius: 50px;
    width: 39%;
}
h3 {
    text-align: center;
    background-color: white;
    width: 5cm;
}

div {
    padding: 5px;
}
input[type="button"]{
    width: 40%;
    height: 8%;
    font-size: 25px;
    border: 3px solid black;
    margin: 25px;
}